button {
    width: 100%;
    height: 100%;
    border:none;
    border:solid 2px white;
    border-radius: 5px;
    background: rgba(255, 255, 255,0);
    color: white;
    font-size: 15px;
    cursor: pointer;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.btn-wrap {
    display: flex;
}

.btn {
    width: 80px;
    height: 50px;
    margin-right: 10px;
}